*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}




body {

    display: grid;

    grid-template-columns: 200px 1fr;

    grid-template-areas:
    'main-header main-header'
    'main-aside main-content'
    'main-footer main-footer'
    ;

}


header{
    background-color: grey;
    grid-area: main-header;
    text-align: center;

}

aside {
    background-color: aqua;
    grid-area: main-aside;
    padding: 10px;



}

main {

    background-color: green;
    grid-area: main-content;
    height: 500px;
    padding: 24px;
    
    
}

footer {

    background-color: rgb(255, 0, 170);
    grid-area: main-footer;

}

img{
    margin-left: 40%;
    image-resolution: 50%;
}