.first-delay { animation-delay: .2s; }

.second-delay { animation-delay: .4s; }

.third-delay { animation-delay: .6s; }

.fourth-delay { animation-delay: .8s; }

.fifth-delay { animation-delay: 1s; }

.five-delay { animation-delay: 1.2s; }

.sixth-delay { animation-delay: 1.4s; }

.seventh-delay { animation-delay: 1.6s; }

.eighth-delay { animation-delay: 1.8s; }